


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


mark.red {
  color:#ff0000;
  background: none;
}

.w3-leftbar {
  border-left: 6px solid #ccc !important;
}

.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}

.w3-panel {
  /* width: 90%; */
  height: auto;
  justify-content: center;
  padding: 0.01em 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #2196f3;
}


.flex-container {
  display: flex;
  justify-content: space-between;
}
.flex-container div {
  flex-shrink: 1;
}
.flex-container div img {
  width: 30%;
  height: auto;
}

.xtic-img{
  /* display: flex; */
  /* justify-content: space-around; */
  align-items: center;
  width: 50%;
  /* height: 300px; */
  object-fit:cover;
  vertical-align: bottom;
}

.iitm-img{
  /* display: flex; */
  /* justify-content: space-around; */
  align-items: center;
  width: 20%;
  /* height: 300px; */
  object-fit:cover;
  vertical-align: bottom;
}

.xtic-img-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: auto;
  object-fit: cover;
  vertical-align: bottom;
}

.project-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: -40px; */
  text-align: center;
  margin: auto;
  width: 50% !important;
  margin-bottom: 50px;
  margin-top: 50px;
}


#project-icons a {
  display: inline-block;
}

#project-icons:after {
  content: '';
  display: inline-block;
  width: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  /* background-color: var(--color-azure-2); */
  background-color: whitesmoke;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999 !important;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
  background-color: #6c98be; /*Blue*/
  /* background-color: var(--color-azure-3); */
  background-color: whitesmoke;
  /* border: solid 2px #0e0e0e; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* background-color: #41679f;  Blue */
  padding: 5px 0;
}

.header-container {
  /* color: #5995DA; */
  color: #333;
  /* background-color: #c9deec; */
  background-color: #f3f3f3;
  /* background-color: var(--color-azure-2); */
  display: flex;
  justify-content: center;
  margin-bottom: 4vw;
}
.container {
  display: flex;
  justify-content: center;
}

/* .sky-gradient {background: linear-gradient(to bottom, #c9deec 0%,#f2f2f2 100%); } */
.sky-gradient {
  background: linear-gradient(to bottom, #96b7d8 0%, #bfd8f2c7 100%);
}


.button a {
  color: #1c1b1b;
  background-color: #f3f3f3;
  /* border: solid 2px #030303; */
  font-weight: bold;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 20px ;
  border-radius: 5px;
  display: inline-block;
}

.button a:hover {
  color: #f3f3f3;
  background-color: #303030;
}

.menu {
  width: 90%;
  display: flex;
  align-content: center;
  justify-content: space-around;
  z-index: 99999;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.logo {
  /* color: #f3f3f3; */
  color:#0e0e0e;
  font-family: "Noto Serif";
  /* font-family: Playfair Display; */
  /* display: flex; */
  /* justify-content:flex-start; */
  align-self: center;
  /* border: solid 1px; */
  /* padding: 30px 30px 30px 50px; */
  font-size: 2em;
}

.home {
  padding: 0px;
}

.login {
  padding: 0px;
}

.signup {
  padding: 0px;
}

.header {
  width: 90%;
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


/* .first-item {
    order: 1;
  }
  
  .last-item {
    order: -1;
  } */

.heading {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
}

.heading-title {
  font-family:'Noto Serif';
  margin: 30px 0 0px 0;
  font-size: 3.5em;
}

.secondary-heading {
  text-align: center;
  margin: 0px 0 5px 0;
  font-size: 2em;
}

.section-heading {
  text-align: center;
  margin: 10px 0 0px 0;
  padding: 0;
  font-size: 2em;
}
.heading-text {
  text-align: center;
  font-size: 1em;
  border: solid #0e0e0e;
  margin: 0.3vw 0vw 5vw 0vw;
  padding: 0 1vw 0 1vw;
  color: #2f2f2f;
  line-height: 1.6;
  max-width: 1050px;
}
.authors {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: medium;
  margin: 0px 0 -10px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.author1 {
  /* padding: 0 0px 0 0px; */
  /* margin-right: 10px; */
  grid-column: 1 / span 3;
}
.author2 {
  /* margin-left: 10px; */
  grid-column: 4 / span 3;
}

.author3 {
  /* margin-left: 10px; */
  grid-column: 8 / span 3;
}

.institutes {
  display: grid;
  justify-content: space-evenly;
  text-align: center;
  font-size: medium;
  margin: 0px 0 10px 0;
  font-family: Arial, Helvetica, sans-serif;
}


.institute1 {
  grid-column: 1 / span 3;
}

.institute2 {
  grid-column: 4 / span 3;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .5em;
}

.separator:not(:empty)::after {
  margin-left: .5em;
}



h1 {
  font-size: 3em;
  font-family: arial, helvetica;
  margin-top: 30px;
  margin-bottom: 5px;
  text-align: center;
}

h2 {
  margin: 20px;
  font-size: 2em;
  text-align: center;
}

/* h1+h2{
    margin: 10px;
  } */

h3 {
  font-size: 1.5em;
  text-align: center;
}

.button {
  margin: 10px 5px;
  vertical-align: middle;
  display: inline-block;
}

/* h2+h3{
    margin: 20px;
  } */

h1,
h2,
h3 {
  color: #131b23;
}

p {
  font-size: 1.2em;
  text-justify: inter-cluster;
  padding: 10px;
  /* margin: 20px; */
  /* border:2px #0e0e0e; */
}

.img-container {
  align-items: center;
  padding: 0px 10px 20px 10px;
  margin: 1vw 0vw 3vw 0vw;
  /* border: 5px #333; */
  width: 100%;
  /* max-width:960px; */
}

.download-text {
  margin: auto;
  display: flex;
  /* font-size: 20px; */
  padding-left: 20px;
}

.container {
  display: flex;

  /* OPTIONAL: Reverse the order of image and content */
  flex-direction: row-reverse;

  /* OPTIONAL: Spacing between items */
  margin: 16px 0;
}

.container_image {
  width: 256px;
}

.container_feature {
  /* Take the remaining width */
  flex: 1;
}

figure {
  /* max-width: 960px; */
  background: whitesmoke;
  display: inline-block;
  margin: 1.5em;
  padding: 0.7em;
}


figure figcaption {
  text-align: center;
  margin-bottom: 1em;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
}

.glider{
  scrollbar-width: none;
}

.glider::-webkit-scrollbar {
  display: none; /*webkit*/
}

.glider-slide {
  /* min-height: 400px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f5f5f5;
  border-bottom-color: rgb(245, 245, 245);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom: 0;
}

.glider-contain {
  padding: 0px;
  width: 70% !important;
  /* margin: 0 auto; */
  margin-top: 5%;
  margin-bottom: 5%;
}

.glider-next, .glider-prev {
  top: 50%;
}

.glider-next{
  right: -45px;
}
.glider-prev{
  left: -45px;
}

/* #Cards */

.photo-grid-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10vw;
  /* width: 90% !important; */
}

.photo-grid {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.photo-grid-item {
  /* border: 2px solid #030303; */
  /* width: 300px;
  height: 300px; */
}

.card {
  width: 23%;
  padding: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.card img{
    object-fit: contain;
    width: 100%;
  /* or
    object-fit: cover; */
}

div.card_header {
  background-color: #030303;
  color: white;
  padding: 10px;
  /* font-size: 40px; */
}

div.card_container {
  padding: 10px;
}

figure.item {
  /* To correctly align image, regardless of content height: */
  vertical-align: top;
  display: inline-block;
  /* To horizontally center images and caption */
  text-align: center;
  /* The width of the container also implies margin around the images. */
  /* width: 120px; */
}
/* img {
  width: 100px;
  height: 100px;
  background-color: grey;
} */
.caption {
  /* Make the caption a block so it occupies its own line. */
  display: block;
}

@media only screen and (max-width: 1023px) {
  .sticky {
    display:none;
  }

  .authors {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: medium;
    margin: 0px 0 10px 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .author1 {
    /* padding: 0 0px 0 0px; */
    /* margin-right: 10px; */
    font-size: 24px;
  }
  .author2 {
    font-size: 24px;
  }
  
  .author3 {
    font-size: 24px;
  }

  .institutes {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: medium;
    margin: 0px 0 10px 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  .institute1 {
    font-size:24px;
  }
  
  .institute2 {
    font-size:24px;
  }
}